* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: white;
}

main {
    height: calc(100vh - 100px);
    background-color: grey;
    display: flex;
}

header {
    position: sticky;
    height: 10%;
    background-color: #080B12;
    top: 0;
    justify-content: flex-end;
    align-items: center;
    display: flex;

}

.sidebar {
    height: 100%;
    width: 20%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 15px;
}

.content {
    width: calc(100% - 150px);
    overflow-y: auto;

    background-color: #141922;

}



/* contenitori */

.create-playlist {
    height: 30px;
    width: 30px;
    background-color: #A3A3A3;
    position: relative;
    display: inline-block;
}

.plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 30px;
}

/* img */

.logo {
    width: 90%;
    padding: 20px 15px;

}

.home {
    width: 20%;
}


/* bg-colorati */

/* btn */

.btn-upgrade {
    border: 3px solid white;
    display: inline-block;
    padding: 10px 35px;
    border-radius: 20px;
    color: white;
    margin-right: 10px;
    margin-bottom: 15px;

}

/* utility */

ul {
    list-style: none;

}

.icone {
    width: 15%;

}

li {
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar-content {
    margin-top: 50px;
    margin-left: 15px;
}

.Playlist {
    margin-top: 10px;
    margin-bottom: 10px;

}

.playlist-title {
    margin-top: 20px;
    margin-bottom: 10px;
}

.cont-piu {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.nome-playlist li {
    margin-top: 5px;
}

.install {
    margin-top: auto;


}

.col-line {
    width: 80%;
    border: 1px solid rgb(47, 44, 44);
    margin-left: 20px;
}

.install-top {
    padding: 20px;
    gap: 5px;
    font-size: 15px;
}

.utente {
    padding: 20px;
    gap: 5px;
    font-size: 20px;
}

.install i {
    margin-right: 10px;

}

.content-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 10px;
    margin-top: 10px;

}

.title-section {
    margin-left: 10px;
    font-size: 15px;
}

.content-bar li {
    display: inline;

}

.content-bar ul {
    display: flex;
    gap: 10px;

}

.recently-played {
    display: flex;

}

.Creato-per-JohnDoe {
    display: flex;
}

.card1 {
    width: calc(100% / 6);
    margin-top: 25px;
    padding: 10px;
}

.card2 {
    width: calc(100% / 6);
    margin-top: 25px;
    padding: 10px;
}

.card3 {
    width: calc(100% / 6);
    margin-top: 25px;
    padding: 10px;
}

.card3 img {
    border-radius: 50%;
    width: 100%;
}

.card2 img {
    width: 100%;

}

.card1 img {

    width: 100%;
}

.text-card {
    text-align: center;
    margin-top: 20px;
    font-size: 9px;
}

.title-section {
    margin-top: 30px;
}

/* footer */

footer {
    height: 100px;

    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer i {
    padding: 8px;
}

.footer-sx img {
    width: 20%;
    padding: 10px;

}

.footer-sx {
    display: flex;
    flex-direction: row;
    width: calc(100% / 3);
}

.footer-mid {
    display: flex;
    flex-direction: row;
    width: calc(100% / 3);
    justify-content: center;
}

.footer-dx {
    display: flex;
    width: calc(100% / 3);

}

.barre-volume {
    display: flex;
    width: 100%;
}

.barre-volume2 {
    display: flex;
    width: 50%;


}

.volume-mid {
    display: flex;
    align-items: center;


}

.volume-right {
    display: flex;
    width: 100%;
    align-items: center;

}

.time-volumesx {
    margin-right: 20px;
}

.time-volumedx {
    margin-left: 20px;
}

.barra-grigia {
    height: 4px;
    border-radius: 5px;
    background-color: #e2d7d7;
    width: 30%;
}

.barra-bianca {
    height: 4px;
    border-radius: 5px;
    background-color: #393636;
    width: 100%;
}

.barra-grigia2 {
    height: 4px;
    border-radius: 5px;
    background-color: #e2d7d7;
    width: 30%;
}

.barra-bianca2 {
    height: 4px;
    border-radius: 5px;
    background-color: #393636;
    width: 100%;
}

.footer-dx {
    display: flex;
    flex-direction: row;
    width: calc(100% / 3);
    justify-content: center;
}

.testo-sx {
    align-content: center;
    font-size: 12px;
}

.icone-sx {
    align-content: center;
    margin-left: 15px;
}

.icone-mid {
    display: flex;
    justify-content: center
}

.icone-dx {
    display: flex;
    justify-content: end;
    margin-left: 100px;

}

.control-mid {
    width: 100%;
}

@media screen and (max-width:768px) {

    .content-bar ul {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .content-bar li {

        color: #7c7070;
        padding: 10px;
        text-align: center;
    }

    .content-bar li:last-child {
        flex-basis: 95%;
        text-align: center;


    }

    .recently-played {
        display: flex;
        flex-wrap: wrap;

    }

    .card1 {

        margin-top: 10px;
        width: calc(100% / 4)
    }

    .card2 {

        margin-top: 10px;
        width: calc(100% / 4)
    }

    .card3 {

        margin-top: 10px;
        width: calc(100% / 4)
    }

    .sidebar {
        height: 100%;
        width: 20%;
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        font-size: 10px;
    }

    .utente {
        padding: 20px;
        gap: 5px;
        font-size: 10px;
    }

    .install-top {
        padding: 20px;
        gap: 5px;
        font-size: 10px;
    }

    .icone-dx {
        display: flex;
        justify-content: end;
        margin-left: 50px;
    }

    .barre-volume2 {
        display: flex;
        width: 85%;
      }

      .time-volumesx {
        margin-right: 20px;
        font-size: 13px;
      }

      .time-volumedx {
        margin-right: 20px;
        font-size: 13px;
      }
}

@media screen and (max-width:576px) {

    .content-bar ul {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .content-bar li {
        flex: 1 1 calc(30% - 10px);
        color: #7c7070;
        padding: 10px;
        text-align: center;
    }

    .content-bar li:last-child {
        flex-basis: 20%;
        text-align: center;
    }

    .content-bar {
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 12px;
        margin-top: 10px;
      }


    .recently-played {
        display: flex;
        flex-wrap: wrap;
        

    }

    .card1 {
        margin-top: 20px;
        width: calc(100% / 2);
    }

    .card2 {
        margin-top: 20px;
        width: calc(100% / 2);

    }

    .card3 {
        margin-top: 20px;
        width: calc(100% / 2);

    }

    .sidebar {
        height: 100%;
        width: 20%;
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        font-size: 10px;
    }

    .utente {
        padding: 20px;
        gap: 5px;
        font-size: 10px;
    }

    .install-top {
        padding: 20px;
        gap: 5px;
        font-size: 10px;
    }

    .sidebar {
        width: 35%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        font-size: 15px;
    }

    .icone-sx {
        margin-left: 15px;
        display: flex;
        flex-direction: column;
    }

    .install-top {
        padding: 20px;
        gap: 5px;
        font-size: 12px;
      }

      .utente {
        padding: 20px;
        gap: 5px;
        font-size: 14px;
      }

      .text-card {
        text-align: center;
        margin-top: 20px;
        font-size: 13px;
      }

      .footer-sx img {
        width: 33%;
        padding: 5px;
      }

      .time-volumedx {
        margin-left: 20px;
        font-size: 10px;
      }

      .time-volumesx {
        
        font-size: 10px;
      }

      .barre-volume2 {
        display: flex;
        width: 90%;
        
      }

      .footer-dx {
        display: flex;
        flex-direction: row;
        width: calc(100% / 3);
        justify-content: center;
      }

      .icone-dx {
        display: flex;
        justify-content: start;
        margin-left: 10px;
      }

 }




@media screen and (min-width:476px) {}